[Unit]
Description=Oracle WebLogic Container
After=network.target oracle_database.service
Requires=oracle_database.service

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a oracle_weblogic
ExecStop=/usr/bin/podman stop -t 10 oracle_weblogic
ExecReload=/usr/bin/podman restart oracle_weblogic
KillMode=none
Type=simple

[Install]
WantedBy=multi-user.target
